sudo: false
language: python
virtualenv:
  system_site_packages: false
matrix:
  fast_finish: true
  include:
  - python: 3.5
    env: DISTRIB="ubuntu" TOX_PYTHON_VERSION="py35" COVERAGE="true"
  - python: 3.6
    env: DISTRIB="ubuntu" TOX_PYTHON_VERSION="py36" COVERAGE="true"
  - python: 3.7
    env: DISTRIB="ubuntu" TOX_PYTHON_VERSION="py37" COVERAGE="true"
  - env: DISTRIB="conda" PYTHON_VERSION="3.5" COVERAGE="false"
  - env: DISTRIB="conda" PYTHON_VERSION="3.6" COVERAGE="false"
  - env: DISTRIB="conda" PYTHON_VERSION="3.7" COVERAGE="false"
install:
- source tests/travis_install.sh
- pip install -r requirements.txt
script:
- python setup.py develop
- tox
- |
  if [[ "$COVERAGE" == "true" ]]; then
    pre-commit install
    pre-commit run --all-files
  fi

deploy:

- provider: pypi
  distributions: sdist
  server: https://test.pypi.org/legacy/
  user: mgbckr
  password:
    secure: "E9dcK6spIUKzf9NEVBJzvPlTocq7in+c5lOBhH+v/pmGub5RTYyKa4lZZtd8BobcaRuwiuUWpkdQlnr4Hf9eqn80ZG35fGT4tR1bdPYMz0RRkVYOv2XX82n/fk7YM0nfDFynTFeBbd2iwLLqkV76JGZjya7iWAq75tg/7ulXkWSTxg+zErTMiOWbD6XecLAA5QAhcspb2CiJkOQHxd6HsjGCApIm8hqrxtSGPnVOiaJfX0eBVwnDeZKLffAkhSgjAOXVrt6wDFv2DrjVTCQ8UlqsqvPY2pLOUghACcI0akmOZL+rBOnOSTtc/v+EvI+lQnZBxFwBBxyOjCvlirltwSO32jf4G+u79Rjg72U8x5VyfV7PlRPmun6+HHZzKGVTT6WxWv+q4QGgNEBeZJEwuLMxBSg0o7Y9bKvllAy+QAE3ZLPcElKv2OFsSlcv7iGKWUe4gBdsDmjrTf6DZlwIerB9LVaSoy9A35xtY2Jbus2ry8VbebOcgKOcASXBsSV+CcCdXLpWHlhBka9iBxnzCSmEnbAQh7jMpfPieydm8YcNJrRuhZHghtwHUx2bkk7TrE08aN4ZBQP1bKi2XQp7ekce44gdBNzauv/pgONhKisd0qX3tfHSh2UXRp1fthS6QuzxVmUe1GFCBl2z4MlGUEpdOOEkKueryGjTWXEFCYc="
  on:
    branch: master
    tags: true
  skip_existing: true
  skip_cleanup: true

- provider: pypi
  distributions: sdist
  user: mgbckr
  password:
    secure: "E9dcK6spIUKzf9NEVBJzvPlTocq7in+c5lOBhH+v/pmGub5RTYyKa4lZZtd8BobcaRuwiuUWpkdQlnr4Hf9eqn80ZG35fGT4tR1bdPYMz0RRkVYOv2XX82n/fk7YM0nfDFynTFeBbd2iwLLqkV76JGZjya7iWAq75tg/7ulXkWSTxg+zErTMiOWbD6XecLAA5QAhcspb2CiJkOQHxd6HsjGCApIm8hqrxtSGPnVOiaJfX0eBVwnDeZKLffAkhSgjAOXVrt6wDFv2DrjVTCQ8UlqsqvPY2pLOUghACcI0akmOZL+rBOnOSTtc/v+EvI+lQnZBxFwBBxyOjCvlirltwSO32jf4G+u79Rjg72U8x5VyfV7PlRPmun6+HHZzKGVTT6WxWv+q4QGgNEBeZJEwuLMxBSg0o7Y9bKvllAy+QAE3ZLPcElKv2OFsSlcv7iGKWUe4gBdsDmjrTf6DZlwIerB9LVaSoy9A35xtY2Jbus2ry8VbebOcgKOcASXBsSV+CcCdXLpWHlhBka9iBxnzCSmEnbAQh7jMpfPieydm8YcNJrRuhZHghtwHUx2bkk7TrE08aN4ZBQP1bKi2XQp7ekce44gdBNzauv/pgONhKisd0qX3tfHSh2UXRp1fthS6QuzxVmUe1GFCBl2z4MlGUEpdOOEkKueryGjTWXEFCYc="
  on:
    branch: release
    tags: true
  skip_existing: true
  skip_cleanup: true

after_success:
- if [[ "$COVERAGE" == "true" ]]; then coveralls || echo "failed"; fi
after_script:
- travis-cleanup
cache:
  pip: true
  directories:
  - "$HOME/miniconda"
